In [ ]:
##### Q1

What will the output be of ((500//7) % 5) ** 3?

In [1]:
((500//7) % 5) ** 3

1

In [ ]:
##### Q2

How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.).

In [2]:
S = "I love Python"
S[2:6]

'love'

In [ ]:
##### Q3

What will the output of 3 * 3 ** 3 be?

In [3]:
3 * 3 ** 3

81

In [ ]:
##### Q4

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

In [4]:
T = (3,5,7,11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
##### Q5

What will the output of the following program be?

L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']

print(L1[1][-1])

In [5]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [ ]:
##### Q6

What will be the output ?

l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

In [6]:
l = [32, 34, 12, 27, 33]
l.append([14,19])
print(len(l))

6